{% extends 'back.html.twig' %}

{% block title %}Liste des R&eacute;alisateurs {% endblock %}
{% block ctitle %}Liste des R&eacute;alisateurs {% endblock %}

{% block header %}Réalisateur{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{path('producer_index')}}">Réalisateur</a></li>
    <li class="breadcrumb-item active">Liste des réalisateurs</li>
{% endblock %}

{% block content %}
    <table class="table table-bordered table-striped" id="producer">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for producer in producers %}
            <tr>
                <td>{{ producer.producerid }}</td>
                <td>{{ producer.nameProducer }}</td>
                <td>
                    <a href="{{ path('producer_edit', {'producer_id': producer.producerid}) }}"><i class="fas fa-pen"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun R&ealisateur trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('producer_new') }}">Nouveau</a>
{% endblock %}

{% block script %}
 {{parent()}}
 <script>
 $(function () {
     $('#producer').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
      language: {
            url: '../../plugins/dataTables.fr_fr.json'
        },
      columnDefs: [
        { orderable: false, width: "10%", targets: 2, className: 'dt-center' }
      ],        
    });
    $('#realisateur').addClass('active');
 });

 </script>
{% endblock %}
