{% extends 'back.html.twig' %}

{% block title %}Liste des Genres{% endblock %}
{% block ctitle %}Liste des Genres {% endblock %}

{% block header %}Genre{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{path('category_index')}}">Genre</a></li>
    <li class="breadcrumb-item active">Liste des genres</li>
{% endblock %}

{% block content %}
    <table class="table table-bordered table-striped" id="category">
        <thead>
            <tr>
               <th>Id</th>
                <th>Label</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.categoryid }}</td>
                <td>{{ category.label }}</td>
                <td>
                    <a href="{{ path('category_edit', {'category_id': category.categoryid}) }}"><i class="fas fa-pen"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun Genre trouv&eacute;</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('category_new') }}">Nouveau</a>
{% endblock %}

{% block script %}
 {{parent()}}
 <script>
 $(function () {
     $('#category').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
      language: {
            url: '../../plugins/dataTables.fr_fr.json'
        },
      columnDefs: [
        { orderable: false, width: "10%", targets: 2 }
      ],        
    });
    $('#genre').addClass('active');
 });

 </script>
{% endblock %}
