<div class="container haut">
<div class="row">
    {#<div class="col-md-4">
    <div #}

    <div class="col-md-4 ml-auto mr-auto">
        {{ form_start(form) }}
            <div class="my-custom-class-for-errors">
                {{ form_errors(form) }}
            </div>
            <div class="form-group">
               
                {{ form_widget(form.surname, {'attr': {'class': 'form-control', 'placeholder': 'surname', 'style':''}}) }}
            </div>

            <div class="form-group">
                {#{{ form_label(form.first_name) }}#}
                {{ form_widget(form.first_name, {'attr': {'class': 'form-control', 'placeholder': 'first name'}}) }}
            </div>
            <div class="form-group">
               {# {{ form_label(form.email) }} #}
                {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'email'}}) }}
            </div>
            <div class="form-group">
                {#{{ form_label(form.telephone) }} #}
                {{ form_widget(form.telephone, {'attr': {'class': 'form-control', 'placeholder': 'telephone'}}) }}
            </div>
            <div class="form-group">
               {# {{ form_label(form.addresse) }} #}
                {{ form_widget(form.addresse, {'attr': {'class': 'form-control', 'placeholder': 'Adresse'}}) }}
            </div>
           <div class="input-group date",  id="datetimepicker1">
                {#{{ form_label(form.inscription_date) , {'attr': {'class': 'form-control'}}}} #}
                {{ form_widget(form.inscription_date, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
               {# {{ form_label(form.password) }} #}
                {{ form_widget(form.password, {'attr': {'class': 'form-control', 'placeholder': 'Password'}}) }}
            </div>
                                                            
            <div class="form-group">
                <button class="btn btn-primary btn-block">{{ button_label|default('Valider') }}</button>
            </div> 		 		 
        {{ form_end(form) }}

       
         <script>
            $(document).ready(function() {
                // you may need to change this code if you are not using Bootstrap Datepicker
                $('.datetimepicker1').datepicker({
                    format: 'yyyy-mm-dd'
                });
            });
        </script>
    </div>

    {#<div class="col-md-4">
    <div #}


</div>
</div>