
<div class="register-box">
  <div class="card card-outline card-primary">
    <div class="card-body">
      <p class="login-box-msg">Créer un compte</p>

      {{ form_start(form) }}
        <div class="input-group mb-3">
        {{ form_widget(form.surname, {'attr': {'class': 'form-control', 'placeholder': 'Prénom'}}) }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
        {{ form_widget(form.first_name, {'attr': {'class': 'form-control', 'placeholder': 'Nom'}}) }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>        
        <div class="input-group mb-3">
        {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'emailaddress'}}) }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
        {{ form_widget(form.telephone, {'attr': {'class': 'form-control', 'placeholder': 'telephone'}}) }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-phone"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
        {{ form_widget(form.addresse, {'attr': {'class': 'form-control', 'placeholder': 'addresse'}}) }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-address-card"></span>
            </div>
          </div>
        </div>

        <div class="input-group mb-3">
        {{ form_widget(form.password.first, {'attr': {'class': 'form-control', 'placeholder': 'mot de passe'}}) }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
        {{ form_widget(form.password.second, {'attr': {'class': 'form-control', 'placeholder': 'confirmation du mot passe'}}) }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <!--<input type="checkbox" id="agreeTerms" name="terms" value="agree">
              <label for="agreeTerms">
               I agree to the <a href="#">terms</a>
              </label>-->
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">S'inscrire</button>
          </div>
          <!-- /.col -->
        </div>
      {{ form_end(form) }}

      <div class="social-auth-links text-center">
        <a href="#" class="btn btn-block btn-primary">
          <i class="fab fa-facebook mr-2"></i>
          Se connecter avec Facebook
        </a>
        <a href="#" class="btn btn-block btn-danger">
          <i class="fab fa-google-plus mr-2"></i>
          Se connecter avec Google+
        </a>
      </div>

      <a href="login.html" class="text-center">Se connecter</a>
    </div>
    <!-- /.form-box -->
  </div><!-- /.card -->
</div>
