<div class="col-sm-5">
	{{ form_start(form) }}
	    <div class="my-custom-class-for-errors">
	        {{ form_errors(form) }}
	    </div>
		<div class="form-group">
			{{ form_label(form.name_actor, "Nom Acteur") }} 
			{{ form_widget(form.name_actor, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			<button class="btn btn-primary">Valider</button>
		</div> 
	{{ form_end(form) }}
</div>
