{% extends 'back.html.twig' %}

{% block title %}Liste des Acteurs {% endblock %}
{% block ctitle %}Liste des Acteurs {% endblock %}

{% block header %}Acteur{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{path('actor_index')}}">Acteur</a></li>
    <li class="breadcrumb-item active">Liste des acteurs</li>
{% endblock %}

{% block content %}
    <table class="table table-bordered table-striped" id="actors">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for actor in actors %}
            <tr>
                <td>{{ actor.actorId }}</td>
                <td>{{ actor.nameActor }}</td>
                <td>
                    <a href="{{ path('actor_edit', {'actor_id': actor.actorid}) }}"><i class="fas fa-pen"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun acteur trouvé!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('actor_new') }}">Nouveau</a>
{% endblock %}

{% block script %}
 {{parent()}}
 <script>
 $(function () {
     $('#actors').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
      language: {
            url: '../../plugins/dataTables.fr_fr.json'
        },
      columnDefs: [
        { orderable: false, width: "10%", targets: 2 }
      ],        
    });
    $('#acteur').addClass('active');
 });

 </script>
{% endblock %}
