{% extends 'base.html.twig' %}

{% block title %}Actor{% endblock %}

{% block body %}
    <h1>Actor</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Actor_id</th>
                <td>{{ actor.actorId }}</td>
            </tr>
            <tr>
                <th>Name_actor</th>
                <td>{{ actor.nameActor }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('actor_index') }}">back to list</a>

    <a href="{{ path('actor_edit', {'actor_id': actor.actor_id}) }}">edit</a>

    {{ include('actor/_delete_form.html.twig') }}
{% endblock %}
