{% extends 'back.html.twig' %}

{% block title %}Liste des Films {% endblock %}
{% block ctitle %}Liste des Films {%endblock%}

{% block content %}
    <table class="table table-bordered table-striped" id="product">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Sortie</th>
                <th>Réalisateur</th>
                <th>Qte</th>
                <th>Durée</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.productid }}</td>
                <td>{{ product.title }}</td>
                <td>{{ product.description |u.truncate(50, '...') }}</td>
                <td>{{ product.publicationDate ? product.publicationDate|date('Y-m-d') : '' }}</td>
                <td>{{ product.producer.nameproducer }}</td>
                <td>{{ product.qte }}</td>
                <td>{{ product.duration }}</td>
                <td>
                    {{ include('product/_delete_form.html.twig') }}
                    <a href="{{ path('product_edit', {'product_id': product.productid}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun Film trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('product_new') }}">Nouveau</a>
{% endblock %}

{% block script %}
 {{parent()}}
 <script>
 $(function () {
     $('#product').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
      language: {
            url: '../plugins/dataTables.fr_fr.json'
        },
      columnDefs: [
        { orderable: false, targets: 2 },
        { orderable: false, width: "10%", targets: 7 }
      ],        
    });
 });

 </script>
{% endblock %}
