
<div class="col-sm-5">
	{{ form_start(form) }}
	    <div class="my-custom-class-for-errors">
	        {{ form_errors(form) }}
	    </div>
		<div class="form-group">
			{{ form_label(form.first_name, "Nom") }} 
			{{ form_widget(form.first_name, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_label(form.last_name, "Prénom") }} 
			{{ form_widget(form.last_name, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_label(form.email, "Email") }} 
			{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
		</div>
		{#<div class="form-group">
			<label for="user_roles" class="required">Roles</label>
			<select id="user_roles" name="user[roles]" required="required" class="form-control">
			    <option value="">--Selectionnez le role --</option>
				<option value="ROLE_ADMIN" {% if user and user.roles == 'ROLE_ADMIN' %} selected {% endif %}>Admin</option>
				<option value="ROLE_USER" {% if user and user.roles == 'ROLE_USER' %} selected {% endif %}>User</option>
			</select>
			{{ form_label(form.roles, "Roles") }} 
			{{ form_widget(form.roles, {'attr': {'class': 'form-control'}}) }}
		</div>#} 		
		<div class="form-group">
			<button class="btn btn-primary">Valider</button>
		</div> 
	{{ form_end(form) }}
</div>